/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: lightgray;

  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  width: 100%;

  background: rgb(250, 192, 83);
}

.header__container {
  width: 320px;
  height: 480px;
  background: white;
  margin-top: 152px;

  display: flex;
  flex-direction: column;
  border-radius: 15px;
}

.user-card__image {
  padding-left: 60px;
  padding-top: 50px;
}

.user-card {
  background: #3685ff;
  width: 280px;
  height: 270px;
  margin-left: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.user-card__title {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-card__coding {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  width: 256px;
  height: 57px;
  margin-left: 40px;
  margin-top: 10px;
  color: #7d889e;
}
